<a href="https://colab.research.google.com/github/Manomay15/ML-Projects/blob/main/DecisionTreeTitanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the Data and getting an overview**

In [114]:
import pandas as pd
df = pd.read_csv('/content/titanic.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

**Dropping some features**

In [115]:
df = df.drop(columns=['PassengerId', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin', 'Embarked'])

In [116]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

**Converting 'Sex' into 0's and 1's for usability**
Male = 0
Female = 1

In [117]:
from sklearn.preprocessing import LabelEncoder

In [119]:
le_sex = LabelEncoder()
df['Sex'] = le_sex.fit_transform(df['Sex'])

In [120]:
df.head()

   Survived  Pclass  Sex   Age     Fare
0         0       3    1  22.0   7.2500
1         1       1    0  38.0  71.2833
2         1       3    0  26.0   7.9250
3         1       1    0  35.0  53.1000
4         0       3    1  35.0   8.0500

**Data Cleaning and converting all values to integer**

In [122]:
df.dropna(inplace=True)

In [123]:
df = df.astype(int)

**Splitting the data between input and target dataframes**

In [124]:
inputs = df
inputs = inputs.drop(columns='Survived')
target = df['Survived']

**Splitting the test and training data with 30% of data to test and 70% to train the model**

In [125]:
import sklearn
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(inputs, target, test_size = 0.3)

**Applying Decision Tree on the Training set**

In [126]:
from sklearn import tree

In [127]:
model = tree.DecisionTreeClassifier(criterion='gini')

In [128]:
model.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

**Checking the accuracy on Test set**

In [129]:
model.score(x_test, y_test)

0.7255813953488373

**Making a prediction**

In [130]:
model.predict([[1, 0, 18, 80]])

array([1])